.hover_slider {
  position: relative;
  font-size: 0;
  width: auto;
  height: auto;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  counter-reset: slides;
}
.hover_slider-window {
  position: absolute;
  inset: 0;

  &:focus-visible {
    outline-style: auto !important;
    outline-width: unset !important;
    outline-color: unset !important;
  }
}
.hover_slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: contain;
  opacity: 0;
}
.hover_slider:not(:has(img.active)) img:first-child {
  position: relative;
  opacity: 1;
  z-index: 0;
}
.hover_slider img.active {
  position: relative;
  opacity: 1;
  z-index: 1;
}
.hover_slider img.prevActive {
  opacity: 1;
  z-index: 0;
}
.hover_slider-indicator {
  position: absolute;
  width: 100%;
  bottom: -1px;
  display: flex;
  justify-content: center;
}
.hover_slider .indmark {
  position: relative;
  height: 1px;
  width: 100%;
  counter-increment: slides;
}
.hover_slider .indmark.active {
  background: rgba(0,0,0,.35);
}
.hover_slider[data-fit="cover"] img {
  object-fit: cover;
}
.hover_slider:not([data-border="none"]) .hover_slider-window {
  outline: 1px solid rgba(0,0,0,.075);
}
.hover_slider[data-ind="none"] .hover_slider-indicator {
  display: none;
}
.hover_slider[data-ind="dots"] {
  margin-bottom: 20px;

  .hover_slider-indicator {
    bottom: -16px;
  }
  .indmark {
    height: unset;
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 4px;
    background: rgba(0,0,0,.1);
    flex-shrink: 0;
  }
  .indmark.active {
    background: rgba(0,0,0,.5);
  }
}
.hover_slider[data-ind="nums"] {
  margin-bottom: 20px;

  .hover_slider-indicator {
    bottom: -16px;
    font-size: 12px;
    height: 1em;
  }
  .indmark {
    width: min-content;
    background: none;
    white-space: nowrap;
    height: 1em;
    line-height: 1;
  }
  .indmark.active::before {
    content: counter(slides);
  }
  .indmark:last-child::after {
    content: "\2009/\2009" counter(slides);
  }
}


/* uncomment to highlight the outline when activated by touch */
/* .hover_slider.hover_slider-touch_active .hover_slider-window {
  outline-color: #43a7ff;
} */
